$body: 16px;
$base: 24px;

$body-white: rgba(255,255,255,0.80);
$bg: #323654;
$darkText: #383c3d;
$grey: #5d5d5d;
$yellow: #4cb9ff;
$chat-bg: #f3f5fa;
$purple: #af7dff;
$dark-bg: #23263b;
$green: #a5d600;
$pink: #ce2672;
$dino: #af7dff;
$dinoBlue: #6d85fd;
$tablet: 800px;
$desktop: 1000px;


html {
  box-sizing: border-box;
  body: 16px;
  line-height: 24px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $bg;
  color: $body-white;

}

textarea, input { outline: none; }


.hbl_txt_wrapper {
  width: 98%;
  margin-left: 1%;
}

.container-site {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-height: 800px;
}

.right {
  height: 100%;
  background: $chat-bg !important;
}

.left {
  color: $body-white;
  margin-top: 80px;
}


.nav {
  position: absolute;
  top: 12px;
  left: 5px;
}




.account-container {
  p {
    text-align: center;
  }
  margin: 70px 40px;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);

}

.account-completed-chats {
  margin-top: 0px;
  text-align: center;
}



.account-img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.account-img-input{
  width: 300px;
  display: block;
  margin: 0 auto;
}

.account-title {
  text-align: center;
}

.account-description {
  display: block;
  margin: 0 auto;
  width: 300px;
  max-width: 300px;
  min-height: 120px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;

  border: 0px;
  resize: none;

}

.account-save-button {
  display: block;
  margin: 0 auto;
}

.account-description:focus {
  outline: none;
}

.account-transcript-list {
  list-style: none;
  padding-left: 0px;

  li {
    margin-top: 15px;
    text-align: center;
    font-size: 16;
  }

  .title-field {
    width: 300px;
  }

  .edit {
    color: white;
  }
}

.company-img{
  width: 25%;
}

.employers-section{
  width: 100%;
}

.featured-container {
  
  display: flex;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 0px auto;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.featured-container-title {
  text-align: center;
  font-size: 18px;
  margin: 110px 0px 25px 0

}

.featured-user {
    width: 20%;
    min-width: 190px;
    padding: 20px 30px;
    margin: 0 0 40px 0;
    cursor: pointer;
}

.featured-title {
  font-size: 16px;
  text-align: center;
  margin: 8px 0 8px 0;
}

.featured-img {
  border-radius: 100%;
  margin: 0 auto;
  display: block;
}

.featured-button {
  display: block;
  margin: 0 auto;
  color: #d6d6dd;
  background-color: #4c3fb5;
  border: 0px;
  padding: 4px 10px;
}

.featured-button:active {
  outline: none;
}

.featured-description {
  text-align: center;
  height: 50px;
}

.featured-chats {
    text-align: center;
    font-size: 14px;
    margin: 0 auto 0px;
    width: 78px;
    line-height: 18px;
    font-weight: 100;
  }

.img-small {
  width: 100px;
  height: 100px;
}

.left-content {
  max-width: 700px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.live-expert-box {
  color: black;
  height:70px;
  background-color: white;
  padding: 15px 30px;

  .live-expert-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    vertical-align: middle;
  }

  .live-expert-button {
    border-radius: 0px;
    border: 0px;
    background-color: $dark-bg;
    color: white;
    padding: 8px 16px;
    margin-top: 9px;
    float: right;
  }

  .live-expert-name {
    display: inline;
    position: relative;
    top: 3px;
    font-size: 20px;
    margin-left: 20px;
  }

}

.ReactModal__Content {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  color: black;
  .modal-img {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    vertical-align: top;
  }

  .modal-operatorname {
    font-size: 22px;
    font-weight: bold;
  }

  .modal-head {
    display: flex;
    flex-direction: row; 
  }

  .modal-head-left {
    flex: 1;
  }

  .modal-head-right {
    flex: 3;
    padding-left: 12px;
  }

  .modal-completed-chats {
    color: $grey;
  }

.modal-skills {
  padding: 0px;
}

.modal-skill {
  position: relative;
  display: inline-block;
  padding: 0px 10px;
  list-style: none;
  background-color: #23263B;
  color: white;
  border-radius: 12px; 
  margin: 0 2px;
}
  
}

.nav ul {
  padding-left: 15px;
  list-style-type: none;
  margin-top: 0;
}

.nav ul li {
  float: left;
  margin-right: 30px;
  padding-top:10px;
}

.nav ul li:first-child {
  padding-top: 0;
}

.nav li a {
  color: rgba(white,0.8);
  text-decoration:none;
}

.logo {
  height: 38px;
  width: 158px;
}

.olark {
  width: 100px;
  display:block;
  margin:0 auto;
}

.partners {
  margin-top: 60px;
}
.partners-title {
  text-align:center;

}

.transcript {
  margin: 70px 0px;
  color: $darkText;
  flex: 1;

.message-visitor {
  text-align: left;
  background-color: #f9fafa;

}

.message-operator {
  background-color: white;

  .nickname {
    color: $dinoBlue;
  }
}
  table {
    width: 100%;
  }

  tr {
    height: 45px;
    
    .operator {
      color: blue;
    }
  }


  .nickname {
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 30px;
    min-width: 50px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 700;
  }



  .message-body {
    
  }


  .single-message {
    margin: 0;
  }

  .grouped-message {
    margin: 20px auto;
  }

  .transcript-header {
    margin-bottom: 30px;
  }

  .transcript-title {
    margin-top: 15px;
    text-align: center;
    color: $body-white; 
  }


  .operator-username {
    color: $body-white;
    text-align: center;
  }

  .operator-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
  }
}


.becomeexpert {
  color: rgba(white,0.8);
  text-decoration: none;
  border: 1px solid rgba(255,255,255,0.35);
  font-size: 13px;  
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 100px;
  line-height: 16px;
  width: 160px;
  height: 30px;
  &:hover {
    border: 1px solid rgba(255,255,255,0.4);
    color: $yellow;
  }
}
#habla_offline_email_input{
      width: 90%;

}
#habla_name_input {
    width: 90%;
}

#habla_offline_body_input {
  width: 90%;
}

.headline {
  color: $yellow;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: -0.5px;
}

.tagline {
  font-size: 16px;
  line-height: 24px;
  color: $body-white;

}


.second-tagline:after {
  content: "Try it out at the bottom. ↓";  
}

ol {
  padding-left: 20px;
}

h2 {
  font-size: 18px;
  color: rgba(255,255,255,0.85);
}

li {
 color: $yellow;
 font-weight: 600;
}

@media (min-width: 600px) {
  .headline {
    font-size: 33px;
    line-height: 42px;
    margin-top: 0;

  }
  .tagline {
    font-size: 18px;
    line-height: 29px;
  }
  .second-tagline:after {
      content: "Try it out now →";  
  }
  .faq {
    margin-top: 100px;
  }

  .faq-section {
    
  }
}

.coding-icons {
  margin-top: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 75px;
  li {
    padding: 1px 10px;
    margin: 0;
    list-style: none;
    display: inline-block;
    background-color: rgba(255,255,255,0.1);
    color: rgba(white,0.5);
    border-radius: 12px; 
    margin: 0 2px;
    line-height: 33px;
  }
}


.experts-section {
  overflow:hidden;
  margin-top: 60px;
  background: $dark-bg;
  padding-top: 50px;
  padding-bottom: 5px0px;
}

.expert {
  width: 50%;
  display: table-cell;
  float: left;
  margin-bottom:30px;
}

.expert-name {
  text-align: center;
}

.expert-img {
  display: block;
  margin: 0 auto;
  width: 100px;
  border-radius: 100%;
}

.expert-text {
  text-align: center;
  padding: 0 30px;
  font-size: 14px;
  line-height:20px;
}

.faq {
  margin-top: 100px;
}

.faq-section {
  margin-top: 65px;
  background: $dark-bg;
  padding-bottom: 100px;
}

.footer {
  margin-top: 100px;
  font-size: 12px;
  text-align: center;
  color: rgba(255,255,255,0.25);
  a {
    color: rgba(255,255,255,0.25);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.link {
  color: $yellow;
}

.white-link {
  color: $body-white;
}

.route-link {
  a {
    color: rgba(white,0.8);
    text-decoration: none; 
    font-size: 13px;
  }

}


.sub-title {
  margin-top: 70px;
}

//Olark

#hbl_body_message, .habla_conversation_person2, #habla_pre_chat_div span, #habla_pre_chat_error_span span{
  color: $pink;
  font-weight: 600;
  font-size: 20px;
}

#habla_conversation_text_span {
  font-size: 20px !important; 
}

#habla_conversation_div {
  // height: 90vh !important;
  height: auto !important;
  padding-top: 10%;
  font-size: 20px;

  background: $chat-bg;
}

#habla_beta_container_do_not_rely_on_div_classes_or_names {
  background: $chat-bg;
  //height: 100vh !important;
}

#habla_topbar_div {
  display: none;
  background: rgba(black,0.1);
  height: 50px;
  text-align: center;
  line-height: 50px;
}

#habla_chatform_form {
  textarea {
    padding-top: 10px;
  }
  
  textarea, #habla_input_div {
    width: 100%;
    height: 100px !important;
  }
  #habla_wcsend_input{
    border: 1px solid rgb(219, 221, 226);
    padding-left: 10px;

  }
  .hbl_txt_wrapper{
    width: 98%;
  }

}

.hbl_txt_wrapper{
    width: 94%;
  }

#habla_pre_chat_div {
  padding-top: 50px;
}

#habla_pre_chat_email_input {
  width: 100% !important;
  height: 50px !important;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.25);
  color: #333;
}

#habla_pre_chat_submit_input {
  //display: none !important;
  background: $yellow;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  color: white;
  height: 50px;
  width: 250px;
  font-size: 16px;
  font-weight: 400;
}


#habla_middle_div {
  height: 100vh;
}

#habla_middle_wrapper_div {
  height: calc( 100% - 175px );
  padding-left: 20px;
  overflow: scroll !important;
} 

#habla_wcsend_input {
  border: none;
  border-top: 1px solid rgba(0,0,0,0.25);
}

#habla_window_div {
  margin: 0 !important;
}

.olark_avatar {
  border-radius: 100%;
}



@media (min-width: $desktop) {
  .hero-content {
    height: 40vh;
  }
  .left {
    width: 60%;  
  }
  .right {
    width: 40%;
  }
}


@media (min-width: $tablet) {

  .ReactModal__Content {
    width: 40%;
  }
  .container-site {
    display:flex;
  }
  .left {
    width: 60%; 
    margin-top: 80px;
  }
  .right {
    position: fixed;
    width: 40%;
  }
  .transcript {
    padding: 0 100px;
  }
}

